examples/asl/json/2_1_choice.json
{
  "Comment": "A Hello World example of the Amazon States Language using a Pass state",
  "StartAt": "ChoiceStateX",
  "States": {
    "ChoiceStateX": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.type",
            "StringEquals": "Private"
          },
          "Next": "Public"
        },
        {
          "And": [
            {
              "Variable": "$.value",
              "NumericGreaterThanEquals": 20
            },
            {
              "Variable": "$.value",
              "NumericLessThan": 30
            }
          ],
          "Next": "ValueInTwenties"
        },
        {
          "Variable": "$.value",
          "NumericEquals": 0,
          "Next": "ValueIsZero"
        }
      ]
    },

    "Public": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Foo",
      "End": true
    },

    "ValueIsZero": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Zero",
      "End": true
    },

    "ValueInTwenties": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Bar",
      "End": true
    }
  }
}
