examples/asl/json/5_parallel_and_choice.json
{
  "Comment": "A simple example of the Steps language using an AWS Lambda Function",
  "StartAt": "Parallel",

  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Next": "Goodbye",
      "Branches": [
        {
          "StartAt": "Calculate PI",
          "States": {
            "Calculate PI": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:9999999999:function:HelloWord_Step",
              "Next": "Calculate Radius"
            },
            "Calculate Radius": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:9999999999:function:HelloWord_Step",
              "Retry": [
                {
                  "ErrorEquals": ["ErrorA", "ErrorB"],
                  "IntervalSeconds": 1,
                  "BackoffRate": 2.0,
                  "MaxAttempts": 2
                },
                {
                  "ErrorEquals": ["ErrorG"],
                  "IntervalSeconds": 5
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.All"],
                  "Next": "Radius error"
                }
              ],
              "Next": "Calculate Area"
            },
            "Radius error": {
              "Type": "Fail"
            },
            "Calculate Area": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:9999999999:function:HelloWord_Step",
              "End": true
            }
          }
        },
        {
          "StartAt": "Calculate constant E",
          "States": {
            "Calculate constant E": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:9999999999:function:HelloWord_Step",
              "Next": "Make decision"
            },
            "Make decision": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.value",
                  "NumericGreaterThanEquals": 0,
                  "Next": "Search record"
                },
                {
                  "Variable": "$.value",
                  "NumericLessThan": 0,
                  "Next": "Retrieve record"
                }
              ]
            },
            "Search record": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:9999999999:function:HelloWord_Step",
              "End": true
            },
            "Retrieve record": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:9999999999:function:HelloWord_Step",
              "End": true
            }
          }
        }
      ]
    },
    "Goodbye": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-1:99999999999:function:HelloWord_Step",
      "End": true
    }
  }
}
