examples/json/calculateStaff.json
{
  "Comment": "A simple example of the Steps language using an AWS Lambda Function",
  "StartAt": "Hello",

  "States": {
    "Hello": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-1:99999999999:function:HelloWord_Step",
      "Next": "Parallel"
    },

    "Parallel": {
      "Type": "Parallel",
      "Next": "Goodbye",
      "Branches": [
        {
          "StartAt": "Calculate PI",
          "States": {
            "Calculate PI": {
              "Type": "Lol kek",
              "Resource": "frfrfrffrfrfcdcdcdccdcdcdcdcdcdcdcdcdcdcdcdcdc",
              "Next": "Calculate Radius"
            },
            "Calculate Radius": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:euxsxsxxsxsx-west-1:...",
              "Next": "Calculate Area"
            },
            "Calculate Area": {
              "Type": "Task",
              "Resource": "fAnother resource",
              "End": true
            }
          }
        },
        {
          "StartAt": "Calculate constant E",
          "States": {
            "Calculate constant E": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:9999999999:function:HelloWord_Step",
              "Next": "Make decision"
            },
            "Make decision": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.value",
                  "NumericGreaterThanEquals": 0,
                  "Next": "Search record"
                },
                {
                  "Variable": "$.value",
                  "NumericLessThan": 0,
                  "Next": "Retrieve record"
                }
              ]
            },
            "Search record": {
              "Type": "Task",
              "Resource": "ddddcddd",
              "End": true
            },
            "Retrieve record": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:9999999999:function:HelloWord_Step",
              "End": true
            }
          }
        }
      ]
    },
    "Goodbye": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-1:99999999999:function:HelloWord_Step",
      "End": true
    }
  }
}
