examples/yml/1.yml
service: lametric-step

plugins:
  - serverless-step-functions
  - serverless-pseudo-parameters

provider:
  name: aws
  runtime: nodejs8.10
  region: us-east-2

functions:
  request:
    handler: handler.request

stepFunctions:
  stateMachines:
    stepFunction:
      events:
        - http:
            path: update
            method: POST
      name: lametric-step
      definition:
        StartAt: Iterator
        States:
          Iterator:
            Type: Task
            Resource: arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${opt:stage}-request
            ResultPath: "$.iterator"
            Next: Pause
          Pause:
            Type: Wait
            SecondsPath: "$.iterator.wait"
            Next: IsCountReached
          IsCountReached:
            Type: Choice
            Choices:
              - Variable: "$.iterator.continue"
                BooleanEquals: true
                Next: Iterator
            Default: Done
          Done:
            Type: Pass
            End: true
